extends layout

block content
    h1 #{title}
    form(method='POST',action='/tasks')
       div.form-group
           label Add Task:
           input.form-control(name='title', type='text')
       div.form-group
           label Description:
           textarea.form-control(name='description')
       input.btn.btn-primary(type='submit', value='add')
    ul
        each task, i in taskList
           div
               li= task.title
                br
               label Description:
               a= task.description
                br
                label Create Date:
               a= task.createDate
                br
                label Status:
               a= task.status

           hr

